{% extends 'base.html' %}

{% block title %}
	Contato
{% endblock %}

{% block content %}
	<h1>Contato</h1>

	{% if form.erros %}
		<div class="alert alert-danger">
			Por favor, corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
		</div>
	{% endif %}

	{% if send %}
		<div class="alert alert-info alert-dismissable">
			E-mail enviado com sucesso! Em breve entraremos em contato			
		</div>
	{% endif %}

	<form action="/contato/" method="POST">
		{% csrf_token %}
		<div class="form-horizontal">
			{% for field in form %}	
				<div class="form-group">
					<label class="control-label col-md-3" for="{{ field.label_tag }}"> {{ field_label_tag }} </label>
					{{ field }}
					<span class="help-block">{{ field.errors.as_text }}</span>
				</div>
			{% endfor %}
			<div class="col-md-offset-3 col-md-10 lead">
				<button type="submit" class="btn btn-primary">Enviar mensagem</button>
			</div>
		</div>
	</form>	
	Hora local: 
	<br />
{% endblock %}