{% extends "base.html" %}

{% load artigos_extras %}

{% block title %} {{ article.title|safe}} {% endblock %}
{% block content %}
<article>
	<header>
		<h1>{{ article.title|safe }}</h1>
		<p class="blog-post-meta">
			<time pubdate>{{ article.pub_date }}</time>
			Por <a rel="author" href="#">{{ article.authors|authors }}</a> de {{ article.agency }}</a>
		</p>
	</header>
	<div>
		<p>
			{{ article.content|safe }}
		</p>
	</div>
</article>
{% endblock %}

{% block back %}
	<a href="/">Voltar</a>
{% endblock %}