{% extends "base.html" %}

{% load artigos_extras %}
{% load cloudinary %}

{% block title %} {{ article.title|safe}} {% endblock %}
{% block content %}
<article>
	<header>
		<h1>{{ article.title|safe }}</h1>
		<p class="blog-post-meta">
			<time pubdate>{{ article.pub_date }}</time>
			<a href="/artigo/{{ article.url }}#disqus_thread">Comentarios</a>
			Por <a rel="author" href="#">{{ article.authors|authors }}</a> de {{ article.agency }}</a>
		</p>
	</header>
	{% if article.imageFeature %}
		<div class="text-center">
			{% cloudinary article.imageFeature %}
		</div>
	{% endif %}
	<div>
		<p>
			{{ article.content|safe }}
		</p>
	</div>
</article>

{% include "includes/disqus.html" with page_url=page_url %}

{% endblock %}

{% block back %}
	<a href="/">Voltar</a>
{% endblock %}