{% extends "base.html" %}

{% block content %}
{% if articles %}
	<ul>
		{% for article in articles %}
		<li>
			<h1><a href="/artigo/{{ article.url }}">{{ article.title|safe }}</a></h1>
			<br	/>
			<span>{{ article.pub_date }}</span>
			<div>
				<p>{{ article.content|safe }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>	
{% else %}
	<p>Não há artigos</p>
{% endif %}

<!-- PAGINATOR -->
{% if pagination.has_previous %}
	<a href="/paginacao/{{ pagination.previous_page_number }}"> « Anterior</a>
{% else %}
	« Anterior
{% endif %}

| 

{% if pagination.has_next %}
	<a href="/paginacao/{{ pagination.next_page_number }}">Próximo »</a>
{% else %}
	Próximo »
{% endif %}

{% endblock %}


