{% extends 'base.html' %}
{% block content %}
	{% if articles %}	
		{% for article in articles %}
			<div class="blog-post">
				<h2 class="blog-post-title"><a href="/artigo/{{ article.url }}">{{ article.title|safe }}</a></h2>
				<p class="blog-post-meta">{{ article.pub_date }}</p>
				<div>
					<p>{{ article.content|safe }}</p>
				</div>
			</div>
		{% endfor %}
	{% endif%}

	<!-- PAGINADOR INICIO-->
	<ul class="pager">
		{% if pagination.has_previous %}
			<li><a href="/page/{{ pagination.previous_page_number }}"> « Anterior</a></li>
		{% else %}
			<li class="disabled"><a href="#">« Anterior</a></li> 
		{% endif %}

		{% if pagination.has_next %}
			<li><a href="/page/{{ pagination.next_page_number }}">Próximo »</a></li>
		{% else %}
			<li class="disabled"><a href="#">Próximo »</a></li>
		{% endif %}
	</ul>
	<!-- PAGINADOR FIM-->
{% endblock %}

{% block marketing %}
	<div class="panel panel-default">
		<div class="panel-heading"> Ultimas notícias </div>
		<div class="panel-body">
			{% if articles %}
				{% for article in articles %}
					<ul>
						<li><a href="/artigo/{{ article.url }}">{{ article.title|safe }}</a></li>
					</ul>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}


